<div class="col-md-4 offset-md-4">
    <h3>Login</h3>

    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" [(ngModel)]="username" name="username" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" [(ngModel)]="password" name="password" required>
        </div>

        <div class="text-danger" *ngIf="error">
            {{ error }}
        </div>

        <br>
        <button type="submit" class="btn btn-success">
            Login
        </button>
    </form>
</div>