<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Balance</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Actions</th>
    </tr>
  </thead>


  <tbody>
    <tr *ngFor="let acc of accounts">
      <td>{{ acc.id }}</td>
      <td>{{ acc.name }}</td>
      <td>{{ acc.balance }}</td>
      <td>{{ acc.email }}</td>
      <td>{{ acc.phone }}</td>
      <td>
        <button class="btn btn-info" (click)="accountDetails(acc.id)" class="btn btn-info">
          View
        </button>
      </td>

      <td>
        <button class="btn btn-info" (click)="updateAccount(acc.id)">
          Update
        </button>
      </td>

      <td>
        <button (click)="deleteAccount(acc.id)" class="btn btn-danger" style="margin-left: 10px">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>